@charset "utf-8";
@import "normalize";
@import "bourbon";
@import "neat";

$mobile: new-breakpoint(max-width 500px 4);
$pink: #d3b1a7;
$darkerpink: #cb654f;
$beighe: #cfcb9c;
// teal = #8cbea3
$yellow: #dfba47;

* {
 font-family: 'Futura';
 font-size: 10pt;
}


body {
 background-color: $pink;
}

.index img {
 width: 24.5px;
}

.container {
 @include outer-container;
}

a, a:visited {
 text-decoration: none;
 color: $beighe;
 margin-left: 50px;
}


.index {
 color: $darkerpink;
 margin-left: 50px;
}

a:hover {
 @include animation(scale 1.0s ease-in, slide 2.0s ease);

}

article{
  @include span-columns(6);
  @include media($mobile) {
    @include span-columns(4);
  }
}

nav{
 padding: 40px;
 @include media($mobile) {
 padding: 0;
}
}

.contact img {
width: 24.5px;
}


.about {
  margin: 40px;
  @include span-columns(6);
  color: $darkerpink;
}
