@charset "utf-8";
@import "bourbon";
@import "base/base";
@import "neat";

$pink: #d3b1a7;
$darkerpink: #cb654f;
$beighe: #cfcb9c;
// teal = #8cbea3
$yellow: #dfba47;

* {
  font-family: 'Futura';
  font-size: 10pt;
  color: $darkerpink;
}


body {
  background-color: $pink;
}

.index img {
  width: 24.5px;
}

.container {
  @include outer-container;
}

a, a:visited {
  text-decoration: none;
  color: $beighe;
  margin-left: 50px;
}


.index {
  color: $darkerpink;
  margin-left: 50px;
}

h2 {
  color: $darkerpink;
}

article{
  padding: 20px;
  margin-bottom: 20px;
  @include span-columns(4);
  @include media($medium-screen-up) {
    @include span-columns(2);
  }
}

nav{
  padding: 0;
  @include media($medium-screen-up) {
    padding: 40px;
  }
}

.contact img {
  width: 24.5px;
}

.pancake {

  color: $beighe;
}

.about {
  margin: 40px;
  @include span-columns(6);
  color: $darkerpink;
}
