<h4 class="master">  Master audio engineer, lover of books, and current learner of code.</h4>
<p class="graduation"> Born and raised in Atlanta, Georgia, I attended and graduted from Middle Tennessee State University with a degree in audio production. Despite having a love for sound I decided to pursue my passion in computer programming. Ever since a young age I have been fixing computers and decided in 2014 to learn how to write code. In the fall of 2015, I quit my job as a librarian to take an intense three month programming course at The Iron Yard in Nashville where I focused on back-end engineering with Ruby on Rails.</p>
<br>
<p class="graduation"> When I'm not learning something new related to code, I enjoy traveling, reading books, and editing sound. My favorite book is The Great Gatsby.
 </p>
 <br>
 <center>
 <img src="./images/EMIFALL15.jpg" class ="pic" >
 </center>
