<h4 class="master">  Master Audio Engineer, past librarian, and current learner of code.</h4>
<p class="graduation"> Erin graduated from Middle Tennessee State University with a degree in audio production, and despite having a love for sound decided to pursue her passion in computer programming. Ever since a young age, she has been fixing computers but decided in 2014 to learn how to write programs. In the fall of 2015, Erin decided to take three months off from life to take an intense programming course at The Iron Yard in back-end engineering learning Ruby on Rails.</p>
<br>
<p class="graduation"> When she isn’t learning something new related to code, Erin can be found traveling, reading, and trying different coffee.
 </p>
 <br>
 <center>
 <img src="./images/me.jpeg" class ="pic" >
 </center>
