<div class ="three">
  <div class="call">Call me: </div>
  <p class="number">(615) 682-3746 </p>
  <img src="/images/phone-128.png" alt="Phone">
  <div class ="call"> Email me: </div>
  <p class ="number">  erinmarie.isbell@gmail.com </p>
  <img src="/images/mail.png" alt="Phone">
</div>
