<br>
<h1 class="header"> Back-End Developer </h1>
<br>
<div class="cntact"> I'm a software developer that works mostly with Ruby on Rails.</div>
<br>
<div>
  <ul class="experience"> Skills:
    <li>• Ruby</li>
    <li>• Ruby on Rails</li>
    <li>• Unit Testing with RSpec</li>
    <li>• HTML/CSS</li>
    <li>• React</li>
    <li>• Git</li>
    <li>• Github</li>
    <li>• Heroku</li>
    <li>• PostgreSQL</li>
    <li>• JSON</li>
  </ul>
</div>
<br>
<br>
<br>
<div class="experience">
  Experience:
  <p class="school">The Iron Yard </p>
  <p class="year">October 2015 - January 2016</p>
  <br>
  <p class="school">Middle Tennessee State University</p>
  <p class="year">September 2008 - December 2011</p>
  <p class="dip">Bachelors of Science in Recording Industry with a concentration in Audio Production;
    Minor in Spanish</p>
  </div>
  <br>
  <br>
  <div class="experience"> Projects:
    <br>
    <a href="https://github.com/erinisbell/weather">
      <img src="/images/weather.png" alt="Weather Client" class="codes">
    </a>
    <a href="https://github.com/TIY-Nashville-Rails/ironstack">
      <img src="/images/ironstack.png" alt="Ironstack" class="codes">
    </a>
  </a>
  <a href="https://github.com/sjanae/gigster">
    <img src="/images/gigster.png" alt="Gigster App" class="codes">
  </a>
</div>
