<br>
<h1 class="header"> Back-End Developer </h1>
<br>
<div class="cntact"> Software developer that works mostly with Ruby on Rails. Read more about me <a href="/about.html">here.</a><p>Or contact me <a href="/contact.html">here.</a></p></div>
<br>
<br>
<br>
<div>
  <ul class="skills">Skills:
    <li>• Ruby</li>
    <li>• Ruby on Rails</li>
    <li>• Unit Testing with RSpec</li>
    <li>• API Development</li>
    <li>• HTML/CSS</li>
    <li>• Github</li>
    <li>• React</li>
    <li>• Unix/Linux Environments</li>
    <li>• Github</li>
    <li>• Heroku</li>
    <li>• PostgreSQL</li>
    </ul>
</div>
<div>
   <ul class="experience2"> Ruby Gems:
    <li>• <a href="https://github.com/rails-api/active_model_serializers">ActiveModelSerializer</a></li>
    <li>• <a href="http://bourbon.io">Bourbon</a></li>
    <li>• <a href="https://github.com/doorkeeper-gem/doorkeeper">Doorkeeper</a></li>
    <li>• <a href="https://github.com/thoughtbot/factory_girl">Factory Girl</a></li>
    <li>• <a href="https://github.com/laserlemon/figaro">Figaro</a></li>
    <li>• <a href="https://github.com/ddollar/foreman">Foreman</a></li>
    <li>• <a href="https://github.com/jnunemaker/httparty">HTTParty</a></li>
    <li>• <a href="http://materializecss.com">Materialize</a></li>
    <li>• <a href="https://github.com/puma/puma">Puma</a></li>
    <li>• <a href="http://slim-lang.com">Slim</a></li>
  </ul>
</div>
<br>
<br>
<br>
<div class="experience"> Experience:
  <p class="school"><a href="http://www.mtsu.edu/">Middle Tennessee State University</a></p>
  <p class="year">September 2008 - December 2011</p>
  <p class="dip">Bachelors of Science in Recording Industry with a concentration in Audio Production;
    Minor in Spanish</p>
      <br>
    <p class="school"> <a href="https://www.theironyard.com/locations/nashville.html ">The Iron Yard</a></p>
    <p class="year">October 2015 - January 2016</p>
    <p class="dip">Back-End Engineering focusing in Ruby on Rails </p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="experience"> Project Examples:
    <br>
    <a href="https://github.com/erinisbell/weather">
      <img src="/images/weather.png" alt="Weather Client" class="codes">
    </a>
    <p class="dip2"> This is a command line weather app that lets users input a zipcode for a weather forecast.</p>
    <a href="https://github.com/TIY-Nashville-Rails/ironstack">
      <img src="/images/ironstack.png" alt="Ironstack" class="codes">
        </a>
      <p class="dip2"> This is a question and answer platform the back end class at the Iron Yard built to ask and answer questions we had about coding.</p>
  <a href="https://github.com/sjanae/gigster">
    <img src="/images/gigster.png" alt="Gigster App" class="codes">
      </a>
    <p class="dip2"> This is my final project for The Iron Yard that connects touring bands with fans in order to sell tickets.</p>
</div>
