---
title: For Kurt's Eyes Only
---

<div class="welcome">
  <h1>Erin's blog</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->