<h1 class="header">Erin Isbell </h1>
<div class="cntact">Contact Me: Phone:
</div>
<!-- <% page_articles.each do |article| %>
<article>
<h2><%= article.title %></h2>
<p><%= article.summary %></p> this is for putting summarys
<%= link_to "Read More", article %>
<hr> -->
<br>
<br>
<ul> Skills:
  <li>• Ruby</li>
  <li>• Ruby on Rails</li>
  <li>•	RSpec</li>
  <li>•	HTML</li>
  <li>•	CSS</li>
  <li>•	Git</li>
  <li>•	Github</li>
  <li>•	Heroku</li>
  <li>•	PostgreSQL</li>
  <li>•	JSON</li>
</ul>
<br>
<p>
  Experience:
    The Iron Yard
    October 2015 - January 2016
</p>

<!-- </article> -->
<% end %>
