<br>
<h1 class="header"> Back-End Developer </h1>
<br>
<div class="cntact"> I am a software developer having just completed a full time back-end engineering program and work mostly with Ruby on Rails. I am on a relentless pursuit of knowledge and love learning new technologies. I'm passionate about code and would love the opportunity to make the world a better place by writing good code. Read more about me <a href="/about.html">here.</a>Or contact me <a href="/contact.html">here.</a></p></div>
<br>
<br>
<br>
<div class="main">
  <ul class="skills">Skills:
    <li>• Ruby</li>
    <li>• Ruby on Rails</li>
    <li>• Unit Testing with RSpec</li>
    <li>• API Development</li>
    <li>• HTML/CSS</li>
    <li>• Github</li>
    <li>• React</li>
    <li>• Unix/Linux Environments</li>
    <li>• Heroku</li>
    <li>• PostgreSQL</li>
  </ul>
  <ul class="experience2"> Ruby Gems:
    <li>• <a href="https://github.com/rails-api/active_model_serializers">ActiveModelSerializer</a></li>
    <li>• <a href="http://bourbon.io">Bourbon</a></li>
    <li>• <a href="https://github.com/doorkeeper-gem/doorkeeper">Doorkeeper</a></li>
    <li>• <a href="https://github.com/thoughtbot/factory_girl">Factory Girl</a></li>
    <li>• <a href="https://github.com/laserlemon/figaro">Figaro</a></li>
    <li>• <a href="https://github.com/ddollar/foreman">Foreman</a></li>
    <li>• <a href="https://github.com/jnunemaker/httparty">HTTParty</a></li>
    <li>• <a href="http://materializecss.com">Materialize</a></li>
    <li>• <a href="https://github.com/puma/puma">Puma</a></li>
    <li>• <a href="http://slim-lang.com">Slim</a></li>
  </ul>
  <br>
  <br>
  <br>
  <div class="experience"> Experience:
    <p class="school"> <a href="https://www.trakref.com">Trakref</a></p>
    <p class="year">March 2016 - Present</p>
    <p class="dip">Build and maintain multiple iOS and Android mobile applications using React Native
● Design and implement ReactJS components which utilize multiple data sources to provide an interactive user experience
● Collaborate with other engineers to determine project requirements and desired functionality
● Responsible for all coding duties, integrations, and styling/branding of the primary mobile application
● Maintain compatibility between native functionality and new technologies
● Consult with product owner and stakeholders to define and create new products as well as enhance existing products
● Experience using Microsoft Azure for continuous integration and deployment
</p>
<br>
    <p class="school"> <a href="https://www.theironyard.com/locations/nashville.html ">The Iron Yard</a></p>
    <p class="year">October 2015 - January 2016</p>
    <p class="dip">Developed full stack web applications using Ruby on Rails framework
● Spent 50+ hours weekly building Rails applications, both individually and as part of a team
● Collaborated on a RESTful API application, GigStart, a crowdfunding concert application using
Doorkeeper, PostgreSQL, Heroku deployment, and SendGrid as part of the backend
technologies </p>
    <br>
    <p class="school"><a href="http://www.cobbcat.org/">Cobb County Public Library</a></p>
    <p class="year">September 2014 - September 2015</p>
    <p class="dip"> Typical daily duties included checking books in/out, cash handling, voter and patron
registration, maintaining patron accounts, pulling and processing requested materials to fill
holds
● Provided research assistance and answered research requests
● Interpreted library policies, handled specialized materials and instructed users in the use of
internal and external information resources</p>
    <br>
    <p class="school"><a href="http://www.cmt.com/">CMT</a></p>
    <p class="year">September 2012 - January 2014</p>
    <p class="dip">Scheduled audio and video edit sessions, ran weekly budget reports, created detailed excel
spreadsheets, and sent out individual purchase orders for all shows and departments that use
CMT Post services
● Responsible for handling all closed captioning, encoding, digitizing, duplication and media
transfer requests from producers</p>
    <br>
    <p class="school"><a href="http://www.mtsu.edu/">Middle Tennessee State University</a></p>
    <p class="year">September 2008 - December 2011</p>
    <p class="dip">Bachelors of Science in Recording Industry with a concentration in Audio Production; Minor in Spanish</p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="experience"> Project Examples:
    <div class="project">
      <a href="https://github.com/sjanae/gigster">
        <img src="/images/gigstart.png" alt="Gigster App" class="codes">
      </a>
      <p class="dip2"> As a final project for The Iron Yard, I worked with a team to create<a href="http://hamblok0.github.io/concert_kickstarter">GigStart</a>, a music business app that uses crowd funding to support an upcoming concert. Through the app, a fan is able to pledge money for a potential concert that only happens if a certain funding goal is met. If the goal is met within the specified time frame, both the fan and band are notified and the app connects bands with venues to complete the booking process.</p>
    </div>
    <div class="project">
      <a href="https://github.com/TIY-Nashville-Rails/ironstack">
        <img src="/images/ironstackweb.png" alt="Ironstack" class="codes">
      </a>
      <p class="dip2"> <a href="https://ironstack.herokuapp.com/">Ironstack</a> is a question and answer platform for The Iron Yard students, instructors, and developers alike. The site was built by the Back-End Engineering students at The Iron Yard in Nashville. </p>
    </div>
    <div class="project">
      <a href="https://github.com/erinisbell/weather">
        <img src="/images/weather.png" alt="Weather Client" class="codes">
      </a>
      <p class="dip2"> This is a command line weather app that lets users input a zipcode for a weather forecast that includes current temperature, a 10 day forecast, and any alerts in the users area.</p>
    </div>
  </div>
</div>
