<br>
<h1 class="header"> Maker of Things </h1>
<br>
<div class="cntact"> This is where something about me would go.
</div>
<!-- <% page_articles.each do |article| %>
<article>
<h2><%= article.title %></h2>
<p><%= article.summary %></p> this is for putting summarys
<%= link_to "Read More", article %>
<hr> -->
<br>
<br>
<ul> Skills:
  <li>• Ruby</li>
  <li>• Ruby on Rails</li>
  <li>• HTML</li>
  <li>• CSS</li>
  <li>• RSpec</li>
  <li>• Git</li>
  <li>• Github</li>
  <li>• Heroku</li>
  <li>• PostgreSQL</li>
  <li>• JSON</li>
</ul>
<br>
<pre>
  Experience:

    The Iron Yard
    October 2015 - January 2016


    Middle Tennessee State University
    September 2008 - December 2011
</pre>
<div>
  <a href="https://github.com/erinisbell/weather">
  <img src="/images/weather.png" alt="Weather Client" class="codes">
</a>
<a href="https://github.com/TIY-Nashville-Rails/ironstack">
<img src="/images/ironstack.png" alt="Ironstack" class="codes">
</a>
</a>
<a href="https://github.com/sjanae/gigster">
<img src="/images/gigster.png" alt="Gigster App" class="codes">
</a>
</div>
<!-- </article> -->
<% end %>
